{% extends "blog_base.html" %}

{% block title %}{{ blog_name }}: {{ slogan }}{% endblock %}
{% block headaddition %}
		<meta name="msvalidate.01" content="CD9DDC2AF0F7EBF1272E2C7C1FAF0E58" />
		<meta name="y_key" content="71471a74016ff0b1" />
		<meta name="google-site-verification" content="Q5OoFC6S3n4kulwJ-nQKdrmiEMLCNcgTtBE3jfpKFms" />
		<link rel="alternate" type="application/rss+xml" title="Latest articles" href="{% url rss %}" />
		<meta name="keywords" content="linux,python,django,blog,programlama,web,ipucu, ders, tutorial" />
		<meta name="description" content="Çoğunluğu Django hakkında kısa derslerden oluşan kişisel bloğumda, GNU/Linux ve Python hakkında çeşitli yazılar, programlama ipuçları ve belgelendirme çevirileri de bulabilirsiniz." />
{% endblock %}
{% block content %}
{% if latest %}
				{% autoescape off %}
				{% for post,tags in latest %}
				<div style="margin-top:2px;border-bottom:2px solid grey">
					<h2 onclick="document.location = '{% url post post.slug %}'"
                                            style="padding-bottom:0px;margin-bottom:0px;cursor:pointer">{{ post.title }}</h2>
                    <div style="margin-bottom:4px;font-size:60%"><strong>Yayınlanma Tarihi</strong>: {{ post.pub_date}}, <strong>Son Düzenleme:</strong> {{ post.last_mod }}</div>
					<div>{{ post.abstract }}</div>

                    <p style="font-size:11px;"><a style="color:red" href="{{ protocol}}://{{ domain }}{% url post post.slug %}#disqus_thread">[Gerisini  oku...]</a><strong> Etikeler:</strong>{% for tag in tags%}<a href="{% url tag tag.slug %}">{{ tag.text }}</a>, {% endfor %}</p>

				</div>
				{% endfor%}
				{% endautoescape %}
		{% else %}
			<p>Henüz yayınlanmış birşey yok, ya da veritabanında bir terslik var, daha sonra tekrar bekleriz.</p>
		{% endif %}
{% endblock %}

{% block navigation %}
    {% if etiket_listesi %}
    <p><strong>Etiketler: </strong></p>
    <ul>
    {% for etiket in etiket_listesi %}
	<li><a href="{% url tag etiket.slug %}">{{ etiket.text }} [{{ etiket.post_sayisi }}]</a></li>
    {% endfor %}
    </ul>
    {% endif %}


<p><strong>Arşiv:</strong></p>
<ul>
{% for year, month_dict in date_hierarchy.items %}
{% for month,post_count in month_dict.items %}
<li><a href="{% url arsiv_month month.year month.month %}">{{ month|date:"Y E" }} [{{ post_count }}]</a></li>
{% endfor %}
{% endfor %}
</ul>

{% endblock %}
{% block onpageload %}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'yasarsblog'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endblock%}
