{% extends "blog_base.html" %}

{% block title %}{{ blog_name }}: {{ slogan }}{% endblock %}
{% block headaddition %}
		<meta name="msvalidate.01" content="CD9DDC2AF0F7EBF1272E2C7C1FAF0E58" />
		<META name="y_key" content="71471a74016ff0b1" />
		<meta name="google-site-verification" content="Q5OoFC6S3n4kulwJ-nQKdrmiEMLCNcgTtBE3jfpKFms" />
		<link rel="alternate" type="application/rss+xml" title="Latest articles" href="{% url rss %}" />
		<meta name="keywords" content="linux,python,django,blog,programlama,web,ipucu, ders, tutorial">
		<meta name="description" content="Çoğunluğu Django hakkında kısa derslerden oluşan kişisel bloğumda, GNU/Linux ve Python hakkında çeşitli yazılar, programlama ipuçları ve belgelendirme çevirileri de bulabilirsiniz.">
{% endblock %}
{% block content %}
{% if latest %}
				{% autoescape off %}
				{% for post,tags in latest %}
				<div style="margin-top:2px;">
					<a href="{% url post post.slug %}"><h4>{{ post.title }}</h4></a>

					<div>{{ post.abstract }}</div>
					<span style="clear:both"><a style="color:red" href="{{ protocol}}://{{ domain }}{% url post post.slug %}#disqus_thread" data-disqus-identifier="{{ post.slug }}">[Gerisini  oku...]</a></span>
                    <span style="clear:both"><strong>Etikeler:</strong>{% for tag in tags%}<a href="{% url tag tag.text %}">{{ tag.text }}</a>, {% endfor %}</span>

				</div>
				{% endfor%}
				{% endautoescape %}
		{% else %}
			<p>Henüz yayınlanmış birşey yok, ya da veritabanında bir terslik var, daha sonra tekrar bekleriz.</p>
		{% endif %}
{% endblock %}

{% block navigation %}
<p><strong>Linkler:</strong></p>
	<ul>
	<li><a href="{% url rss %}">En son yazılar Rss</a></li>
    {% if etiket_listesi %}
    <p><strong>Etiketler: </strong></p>
    {% for etiket in etiket_listesi %}
	<li><a href="{% url tag etiket.text %}">{{ etiket.text }}</a></li>
    {% endfor %}
    {% endif %}

{% if date_list %}
<p><strong>Arşiv:</strong></p>
	<ul>
    {% for date in date_list %}
	<li><a href="{% url arsiv_year date.year %}">{{ date.year }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
{% block onpageload %}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'yasarsblog'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endblock%}