<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="content-type" content="text/html; utf-8" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles.css" />
<script type="text/javascript">
function search(){
var a = document.getElementById("searchbox").value;
a = a + " site:{{ domain }}";
a = a.replace(" ","+");
a = "http://www.google.com/#q=" + a;
document.location = a;
}
function goHome() {
document.location = "{% url blog.views.homepage %}"
}
</script>
{% block headaddition %}
{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25305109-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<a href="{% url rss %}"><img src="{{ STATIC_URL }}rss.png" style="position:fixed;right:0px;bottom:0px;"/></a>
<div id="container">
    <div id="header" onclick="document.location = '{% url blog.views.homepage %}'" style="cursor:pointer">
		{% block header %}
        <div style="float:right"><div class="g-plusone"></div></div>
			<a href="/" title="{{ blog_name}} : {{ slogan }}"><img src="{{ STATIC_URL }}header_img.png" /></a>
            
        {% endblock %}
	</div>
  <div id="wrapper">
    <div id="content">
	  {% autoescape off%}
      {% block content %}
	  {% endblock %}
	  {% endautoescape %}
    </div>
  </div>
  <div class="navigation">
    <form method="post" action="#" onsubmit="search();return false;">
    <input type="text" id="searchbox" style="width:90%;background:url('{{ STATIC_URL }}btn_search.gif') no-repeat;padding-left:22px;border:1px solid grey"/>
    </form>
    {% block navigation %}
	{% endblock %}
  </div>
  <div id="extra">
      {% block extra %}
      <p><strong>Blogroll:</strong></p>
      <ul>
      <li><a href="http://www.gokmengorgen.net/" title="Genel Yazılım Geliştirme">Gökmen Görgen</a></li>
      <li><a href="http://www.istihza.com/blog/" title="Python Belgeleri">İstihza</a></li>
      <li><a href="http://miratcanbayrak.blogspot.com/" title="Python ipucu">Mirat Can Bayrak</a></li>
      <li><a href="http://metehan.us" title="Python Belgeleri">metehan.us</a></li>
          <li><a href="http://blog.tanshaydar.com" title="Tanshaydar'ın mekanı">
             Tanshaydar </a></li>
      </ul>
	{% endblock %}
  </div>
  <div class="navigation">
    {% block contact %}
	<p><strong>İletişim:</strong></p>
	<ul>
	<li><a href="mailto:yasar11732@gmail.com">Email</a></li>
	<li><a href="https://twitter.com/#!/y_arabaci">Twitter</a></li>
	</ul>
	{% endblock %}
  </div>
  
  <div id="footer">
    {% block footer %}
		<p><a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a></p>
	{% endblock %}
  </div>
</div>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% block onpageload %}
{% endblock %}
</body>
</html>
